/* RESET */
body,
h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  color: #0b0c12;
}
*{
  box-sizing: border-box;
}

/* MENU */
.menu {
  background: #0b0c12;
  padding: 20px 0;
}
.menu-container{
  max-width: 960px;
  margin: 0 auto;
}
.menu-container::after, .menu-container::before{
  content: '';
  display: table;
  clear: both;
}
.menu-logo{
  display: block;
  float: left;
  margin-left: 10px;
}
.menu-logo img{
  margin-top: 3.5px;
}
.menu-nav{
  float: right;
  margin-right: 10px;
}
.menu-nav li{
  display: inline-block;
}
.menu-nav a{
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #F5F7FA;
  font-size: 1.125em;
}

/* INTRODUCAO */
.intro{
  background: url('../img/bg-intro.jpg') no-repeat center center;
  background-size: cover;
  padding: 150px 0;
  text-align: center;
  color: #F5F7FA;
}
.intro h1{
  font-size: 3em;
  line-height: 1.125;
  font-weight: 600;
}
.intro h1::after{
  content: '';
  display: block;
  width: 20px;
  height: 4px;
  background: #F5F7FA;
  margin: 15px auto;
}
.intro h1 > span{
  color: #18A0FB;
}
.intro p{
  font-style: italic;
  font-size: 1.125em;
}

/* SOBRE */
.sobre{
  padding: 60px 0;
}
.sobre h2{
  text-align: center;
  font-size: 2.25em;
  margin-bottom: 60px;
}
.sobre-container{
  max-width: 960px;
  margin: 0 auto;
}
.sobre-container::after, .sobre-container::before{
  content: '';
  display: table;
  clear: both;
}
.sobre-item{
  float: left;
  width: 460px;
  margin: 0 10px;
}
.sobre-item img{
  display: block;
  max-width: 100%;
}
.sobre-item h3{
  font-size: 2.25em;
  line-height: 1dm;
  background: #0b0c12;
  width: 220px;
  color: #F5F7FA;
  text-transform: lowercase;
  font-weight: 600;
  text-align: center;
  padding: 5px 0;
  position: relative;
  top: -25px;
}
.sobre > p{
  font-size: 1.125em;
  line-height: 1.4em;
  font-style: italic;
  text-align: center;
  margin: 20px auto;
  max-width: 460px;
}

/* PRODUTOS */
.produtos{
  background: #474D59;
  padding: 60px 0;
  border-top: 3px solid #363B47;
  border-bottom: 3px solid #363B47;
}
.produtos-container{
  max-width: 960px;
  margin: 0 auto;
}
.produtos-container::after, .produtos-container::before{
  content: '';
  display: table;
  clear: both;
}
.produtos-item{
  width: 300px;
  float: left;
  margin: 0 10px 20px 10px;
  color: #F5F7FA;
}
.produtos-item h2{
  text-align: center;
  font-size: 2.25em;
  margin-bottom: 20px;
}
.produtos-item h2::before{
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  background: currentColor;
  border-radius: 50%;
  margin: 20px auto;
  border: 5px solid #474D59;
  box-shadow: 0 0 0 10px currentColor;
}
h2.produtos-ouro::before{
  color: #18A0FB;
}
h2.produtos-prata::before{
  color: #0077C7;
}
h2.produtos-bronze::before{
  color: #00234C;
}
.produtos-item p{
  font-size: 0.875em;
  line-height: 1.4em;
}
.produtos-botao{
  width: 180px;
  color: #F5F7FA;
  border: 3px solid;
  text-decoration: none;
  display: block;
  font-size: 1.125em;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 0;
  margin: 20px auto 0 auto;
}

/* LOCAIS */
.locais{
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}
.locais-item{
  clear: both;
  margin: 60px 0;
}
.locais-item::after, .locais-item::before{
  content: '';
  display: table;
  clear: both;
}
.locais-item img{
  width: 460px;
  float: left;
  display: block;
  margin: 0 10px;
}
.locais-item > div{
  width: 460px;
  float: left;
  margin: 0 10px;
}
.locais-item h2{
  font-size: 2.25em;
  margin-bottom: 10px;
}
.locais-item p{
  font-size: 0.875em;
  line-height: 1.4em;
  max-width: 320px;
  margin-bottom: 40px;
}
.locais-item a{
  font-size: 1.125em;
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid;
  color: #0B0C12;
  padding: 10px 20px;
}

/* ASSINE */
.assine{
  background: #B2B8BF;
  padding: 30px 0;
}
.assine-container{
  max-width: 960px;
  margin: 0 auto;
}
.assine-container::after, .assine-container::before{
  content: '';
  display: table;
  clear: both;
}
.assine-info{
  width: 460px;
  margin: 0 10px;
  float: left;
}
.assine-info h2{
  font-size: 2em;
  font-weight: 600;
  margin-bottom: -10px;
}
.assine-info p{
  font-size: 1.2em;
  font-style: italic;
}
.assine form{
  width: 460px;
  margin: 5px 10px 0;
  float: left;
}
.assine form label{
  display: none;
}
.assine input{
  border: 3px solid #0B0C12;
  background: none;
  font-size: 1.5em;
  font-style: italic;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  float: left;
  outline: none;
}
.assine button{
  background: #0B0C12;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  width: 140px;
  padding: 13px 0;
  color: #F5F7FA;
  border: none;
  cursor: pointer;
}

/* FOOTER */
.footer{
  background: #0B0C12;
  padding: 40px 0;
}
.footer-container{
  max-width: 960px;
  margin: 0 auto;
}
.footer-container::after, .footer-container::before{
  content: '';
  display: table;
  clear: both;
}
.footer p{
  float: left;
  margin: 0 10px;
  font-size: 1.125em;
  line-height: 1.4em;
  color: #636973;
}
.footer img{
  float: right;
  margin: 8px 10px 0;
  display: block;
}