/* RESET */
body,
h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  color: #0b0c12;
}
*{
  box-sizing: border-box;
}
.container{
  display: flex;
  max-width: 960px;
  margin: 0 auto;
}
@media(max-width: 739px){
  .container{
    flex-direction: column;
    max-width: 300px;
  }
}

/* MENU */
.menu {
  background: #0b0c12;
  padding: 20px 0;
}
.menu-container{
  align-items: center;
  justify-content: space-between;
}
.menu-logo{
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.menu-nav a{
  text-decoration: none;
  color: #F5F7FA;
  font-size: 1.125em;
  padding: 10px;
  display: inline-block;
}
.menu-nav ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

/* INTRODUCAO */
.intro{
  background: url('../img/bg-intro.jpg') no-repeat center center;
  background-size: cover;
  color: #F5F7FA;
  padding: 150px 0;
  text-align: center;
}
.intro h1{
  font-size: 3em;
  font-weight: 600;
}
.intro h1::after{
  content: '';
  display: block;
  width: 20px;
  height: 4px;
  background: #F5F7FA;
  margin: 10px auto;
}
.intro h1 > span{
  color: #18A0FB;
}
.intro p{
  font-style: italic;
  font-size: 1.125em;
}
@media(max-width: 739px){
  .intro{
    padding: 60px 0;
  }
}

/* SOBRE */
.sobre{
  padding: 60px 0;
}
.sobre h2{
  font-size: 2.25em;
  text-align: center;
  margin-bottom: 60px;
}
.sobre-item{
  margin: 10px;
  flex: 1;
}
.sobre-item img{
  display: block;
  max-width: 100%;
}
.sobre-item h3{
  font-size: 2.25em;
  line-height: 1em;
  background: #0b0c12;
  color: #F5F7FA;
  text-transform: lowercase;
  font-weight: 600;
  position: relative;
  text-align: center;
  width: 220px;
  padding: 10px 0;
  top: -25px;
}
.sobre > p{
  font-size: 1.125em;
  line-height: 1.4em;
  font-style: italic;
  max-width: 460px;
  text-align: center;
  margin: 0 auto;
}
@media(max-width: 739px){
  .sobre-item{
    margin: 10px 0;
  }
}

/* PRODUTOS */
.produtos{
  background: #474D59;
  border-top: 3px solid #363B47;
  border-bottom: 3px solid #363B47;
  padding: 60px 0;
  color: #F5F7FA;
}
.produtos-item{
  flex: 1;
  margin: 0 10px 40px;
}
.produtos-item h2{
  font-size: 2.25em;
  text-align: center;
  margin-bottom: 20px;
}
.produtos-item h2::before{
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  background: currentColor;
  border-radius: 50%;
  border: 5px solid #474D59;
  box-shadow: 0 0 0 10px currentColor;
  margin: 20px auto;
}
h2.produtos-ouro::before{
  color: #18A0FB;
}
h2.produtos-prata::before{
  color: #0077C7;
}
h2.produtos-bronze::before{
  color: #00234C;
}
.produtos-item p{
  font-size: 0.875em;
  line-height: 1.4em;
}
.produtos-botao{
  color: #F5F7FA;
  border: 3px solid;
  text-decoration: none;
  display: block;
  font-size: 1.125em;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  display: block;
  width: 180px;
  padding: 15px 0;
  margin: 20px auto 0 auto;
}
@media(max-width: 739px){
  .produtos-item{
    margin: 0 0 40px 0;
  }
}

/* LOCAIS */
.locais{
  padding: 60px 0;
}
.locais-item{
  margin-bottom: 40px;
}
.locais-img,
.locais-info{
  flex: 1;
  margin: 0 10px;
}
.locais-img img{
  display: block;
  max-width: 100%;
}
.locais-item h2{
  font-size: 2.25em;
  margin-bottom: 20px;
}
.locais-item p{
  font-size: 0.875em;
  line-height: 1.4em;
  max-width: 330px;
  margin-bottom: 40px;
}
.locais-item a{
  font-size: 1.125em;
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid;
  color: #0B0C12;
  padding: 10px 20px;
}
@media(max-width: 739px){
  .locais-img, .locais-info{
    margin: 0;
  }
}

/* ASSINE */
.assine{
  background: #B2B8BF;
  padding: 30px 0;
}
.assine-info{
  flex: 1;
  margin: 0 10px;
}
.assine-info h2{
  font-size: 2em;
  font-weight: 600;
  line-height: 30px;
}
.assine-info p{
  font-size: 1.2em;
  font-style: italic;
}
.assine form{
  flex: 1;
  margin: 0 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.assine form label{
  display: none;
}
.assine input{
  flex: 1;
  align-self: flex-start;
  padding: 10px;
  border: 3px solid #0B0C12;
  background: none;
  font-size: 1.5em;
  font-style: italic;
  font-family: "Poppins", sans-serif;
  outline: none;
  max-width: 100%;
}
.assine button{
  flex: 1;
  padding: 13px;
  align-self: flex-start;
  background: #0B0C12;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  color: #F5F7FA;
  border: none;
  cursor: pointer;
}
@media(max-width: 739px){
  .assine-info{
    margin: 0 0 20px 0;
  }
  .assine form{
    margin: 0;
  }
}

/* FOOTER */
.footer{
  background: #0B0C12;
  padding: 40px 0;
}
.footer > div{
  align-items: center;
}
.footer p{
  font-size: 1.125em;
  line-height: 1.4em;
  color: #636973;
  margin: 0 10px;
  flex: 1;
}
.footer-img{
  margin: 0 10px;
}
.footer-img img{
  display: block;
}
@media(max-width: 739px){
  .footer-img, .footer p{
    margin: 10px 0;
  }
}